* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
}

.header-inner {
    min-height: 249px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*Navigation*/

.nav .nav-list {
    display: flex;
    column-gap: 80px;
}

.nav-item-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.nav-item-link:hover {
    filter: drop-shadow(-1px 8px 17px #000);
    text-decoration: underline;
}

/*Burger */

.burger-icon {
    display: none;
}

/*Carousel */

.slick-slide img {
    width: 100%;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
}

.main-article {
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    color: #000;
    margin-top: 42px;
    margin-bottom: 42px;
}

.subtitle {
    display: block;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000000;
    padding: 15px 0;
}

.article-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 28px;
    margin-bottom: 60px;
}

.counter {
    font-weight: 400;
    font-size: 48px;
    line-height: 22px;
}

.article-item {
    width: 500px;
    height: 394px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background: #000000;
}

.item-text-left,
.item-text-right {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    width: 400px;
}


.bottom-textarea {
    position: relative;
    margin-top: 47px;
    margin-bottom: 100px;
}

.send-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    padding: 13px 59px;
    font-family: "Montserrat";
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    border-radius: 8px;
    border: none;
}

.send-button:hover {
    filter: drop-shadow(-1px 8px 17px #000);
}

#bottom-textarea {
    resize: none;
    width: 1022px;
    height: 120px;
    border: 1px solid #000;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 49px 31px;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    #container {
        max-width: 919px;
    }

    .nav {
        display: none;
    }

    /*Logo*/
    .header .header-logo {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 30px;
    }

    /*Burger*/

    .burger-icon {
        width: 48px;
        height: 31px;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 45px;
        right: 0;
    }

    .burger-icon-inner,
    .burger-icon:before,
    .burger-icon:after {
        content: "";
        width: 48px;
        height: 5px;
        background: #000;
    }

    /*Menu open*/

    .header.menu-open {
        background: #000;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        min-height: 316px;
    }

    .menu-open .header-inner {
        max-width: 919px;
        margin: 0 auto;
        min-height: 316px;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 111px;
    }

    .menu-open .logo-svg {
        fill: #fff;
    }

    .menu-open .burger-icon:before,
    .menu-open .burger-icon:after {
        background: #fff;
        position: relative;
        left: 0;
        transition: transform 0.5s ease;
    }

    .menu-open .burger-icon-inner {
        display: none;
    }

    .menu-open .burger-icon:before {
        transform: rotate(45deg);
        top: 15px;
    }

    .menu-open .burger-icon:after {
        transform: rotate(-45deg);
        top: -10px;
    }

    .menu-open .nav {
        display: block;
    }

    .menu-open .nav-item-link {
        color: #fff;
    }

    /*Carousel*/

    .menu-open + .carousel {
        margin-top: 122px;
    }

    /* article */

    .main-article {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .subtitle {
        margin-bottom: -28px;
    }

    .article-items {
        display: block;
        
        width: 928px;
    }
    
    .article-item {
        justify-content: flex-start;
        width: 928px;
        height: 214px;
        margin-top: 60px;
        background: #000000;
    }


    .item-text-left,
    .item-text-right {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        padding: 48px;
        margin-bottom: -28px;
        width: auto;
    }

    .bottom-textarea {
        position: relative;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    #bottom-textarea {
        width: 919px;
        height: 120px;
    }
}

@media screen and (max-width: 375px) {
    #container {
        max-width: 335px;
    }

    .nav {
        display: none;
    }

    /*Logo*/

    .header-inner {
        position: relative;
        min-height: 187px;
    }

    .header .header-logo {
        display: none;
    }

    /*Burger*/

    .burger-icon {
        width: 48px;
        height: 31px;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 20px;
        z-index: 5;
    }

    .burger-icon-inner,
    .burger-icon:before,
    .burger-icon:after {
        content: "";
        width: 48px;
        height: 5px;
        background: #fff;
    }

    /*Menu open*/

    .header.menu-open {
        background: #000;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        min-height: 332px;
    }

    .menu-open .header-inner {
        max-width: 375px;
        margin: 0 auto;
        min-height: 316px;
        justify-content: flex-start;
        align-items: flex-end;
        padding-bottom: 44px;
    }

    .menu-open .header-logo {
        fill: #fff;
        display: block;
    }

    .menu-open .header-logo svg {
        position: absolute;
        left: -117px;
    }

    .menu-open .burger-icon {
        position: absolute;
        right: 21px;
    }

    .menu-open .burger-icon:before,
    .menu-open .burger-icon:after {
        background: #fff;
        position: relative;
        left: 0;
        transition: ease 0.5s;
    }

    .menu-open .burger-icon:before {
        transform: rotate(45deg);
        top: 15px;
    }

    .menu-open .burger-icon:after {
        transform: rotate(-45deg);
        top: -10px;
    }

    .menu-open .nav-item-link {
        color: #fff;
    }

    .menu-open .nav-list {
        display: flex;
        flex-direction: column;
        gap: 42px;
        padding-left: 20px;
    }

    .carousel {
        width: 373px;
        height: 187px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .main-article {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 20px;
    }

    .subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .counter {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .article-items {
        display: flex;
        width: 335px;
        margin-bottom: 26px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .article-item {
        width: 335px;
        height: 350px;
    }

    .item-text-left,
    .item-text-right {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        padding: 20px;
    }

    .bottom-textarea {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    #bottom-textarea {
        width: 335px;
        height: 150px;
        padding: 20px 20px 101px 20px;
        margin-bottom: 102px;
        text-align: center;
    }

    .send-button {
        width: 335px;
        position: absolute;
        left: 50%;
        margin-left: -168px;
        top: 135px;
        cursor: pointer;
        padding: 16px 99px;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #ffffff;
        background: #000000;
        border: none;
        border-radius: 8px;
    }
}
